/*------------------------------------------------------------------------------------------Landing page*/
.title {
  display: inline-block;
  position: relative;
}
.title:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.title:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

/*------------------------------------------------------------------------------------------Parallax landing page*/
.parallax-landing {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*-----------------------------------------------------------------------------------------Second parallax */
.parallax1{
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  
  /* Set a specific height */
  min-height: 200px;
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--------------------------------------------------------------------------Footer*/

.footer-clean {
  padding-bottom: 10px;
  background-color: #fff;
  color: #414242;
}

.footer-clean .copyright {
  font-size: 13px;
  opacity: 0.8;
}

.footer-header {
  margin-top: 25px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-link {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  font-size: 12px;
  padding: 20px 0;
}

.footer-link:hover {
  color: orange;
}

.footer-clean .item.social {
  text-align: center;
}

.footer_photo-img {
  margin-top: 90px;
  width: 100%;
  height: 70px;
}

.social-img {
  width: 200px;
}
.footer{
  position: absolute;
  bottom: 0;
}
